<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>

<body>

<!--THIS IT THE NAVBAR-->
<nav th:replace="fragments :: loggedInNavbar">
</nav>

<!--THIS IS THE JUMBOTRON-->
<div th:replace="fragments :: jumbo">
</div>

<div th:replace="fragments :: loggedIn"></div>

<div class="container">
    <div class="row">
        <h1 class="justify-text-center">Users:</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/admin/console}" class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <label>Admins</label>
                    <select class="form-control">
                        <option th:each="admin : ${admins}" th:text="${admin.name}"
                                th:value="${admin.id}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-warning mb-2">demote</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form th:action="@{/admin/console}" class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <label>Users</label>
                    <select class="form-control">
                        <option th:each="user : ${users}" th:text="${user.name}"
                                th:value="${user.id}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-primary mb-2">promote</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <h1 class="justify-text-center">Classes:</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/admin/console}" class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <label>Past Classes</label>
                    <select class="form-control">
                        <option th:each="event : ${pastEvents}" th:text="${event.date + ' ' +event.title}"
                                th:value="${event.id}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-danger mb-2">delete</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form th:action="@{/admin/console}" class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <label>Scheduled Classes</label>
                    <select class="form-control">
                        <option th:each="event : ${futureEvents}" th:text="${event.date + ' ' + event.title}"
                                th:value="${event.id}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-danger mb-2">delete</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <h1 class="justify-text-center">All Users:</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/admin/console}" class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <label>Instructors</label>
                    <select class="form-control">
                        <option th:each="instructor : ${instructors}" th:text="${instructor.name}"
                                th:value="${instructor.id}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-danger mb-2">Make Student</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form th:action="@{/admin/console}" class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <label>Students</label>
                    <select class="form-control">
                        <option th:each="student : ${students}" th:text="${student.name}"
                                th:value="${student.id}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-danger mb-2">Make Instructor</button>
                </div>
            </form>
        </div>
    </div>








</div>


<!--THESE ARE THE SCRIPTS-->
<div th:replace="fragments :: script">
</div>

</body>
</html>