<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>

<body>

<!--THIS IT THE NAVBAR-->
<nav th:replace="fragments :: adminNavbar">
</nav>

<!--THIS IS THE JUMBOTRON-->
<div th:replace="fragments :: jumbo">
</div>

<div th:replace="fragments :: loggedIn"></div>


<div class="container">

    <div th:if="${not #lists.isEmpty(inactiveEvents)}">
        <div class="row">
            <div class="col-md-6 offset-md-3"><h3>Please confirm these proposed dates:</h3></div>
        </div>

        <form th:action="@{/}" class="form-horizontal" role="form" method="POST">

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <ul>
                        <li th:each="inactiveEvent : ${inactiveEvents}">
                            <input type="checkbox" name="listOfIds" th:value="${inactiveEvent.id}"/>
                            <label
                                    th:text="${inactiveEvent.title + ' ' + inactiveEvent.start}"></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 offset-sm-2">
                    <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Accept Event</button>
                </div>
                <div class="col-sm-3"></div>
            </div>

        </form>
    </div>




    <div class="row">
        <div class="col-md-6">
            <h2>Past Classes:</h2><br>
            <ul th:each="event : ${pastEvents}">
                <li th:text="${event.title + ' On ' + event.date}"></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Scheduled Classes:</h2><br>
            <ul th:each="event : ${futureEvents}">
                <li th:text="${event.title + ' On ' + event.date}"></li>
            </ul>
        </div>
    </div>
</div>

<!--BIOGRAPHY BUTTON-->
<div th:replace="fragments :: setbio">

</div>

<div th:replace="fragments :: footer"></div>


<!--THESE ARE THE SCRIPTS-->
<div th:replace="fragments :: script">
</div>


</body>
</html>