<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <link th:href='@{/css/fullcalendar.min.css}' rel='stylesheet'/>
    <link th:href='@{/css/fullcalendar.print.min.css}' rel='stylesheet' media='print'/>
    <script th:src='@{/lib/moment.min.js}'></script>
    <script th:src='@{/lib/jquery.min.js}'></script>
    <script th:src='@{/js/fullcalendar.min.js}'></script>
    <script th:inline="javascript">

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      eventOverlap: false,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      <!--defaultDate: '2018-07-31',-->
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: /*[(${json})]*/
    });

  });



    </script>
    <style>


  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }



    </style>
</head>
<body>
<nav th:replace="fragments :: loggedInNavbar"></nav>
<nav th:replace="fragments :: jumbo"></nav>
<div th:replace="fragments :: loggedIn"></div>


<div id='calendar'></div>

<div th:replace="fragments :: footer"></div>




</body>
</html>
