<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <link th:href='@{css/fullcalendar.min.css}' rel='stylesheet' />
  <link th:href='@{css/fullcalendar.print.min.css}' rel='stylesheet' media='print' />
  <script th:src='@{lib/moment.min.js}'></script>
  <script th:src='@{lib/jquery.min.js}'></script>
  <script th:src='@{js/fullcalendar.min.js}'></script>
  <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      defaultDate: '2018-03-12',
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: '/json/events.json'
      <!--[-->
        <!--{-->
          <!--title: 'Dinner',-->
          <!--start: '2018-03-12T20:00:00'-->
        <!--},-->
        <!--{-->
          <!--title: 'Birthday Party',-->
          <!--start: '2018-03-13T07:00:00'-->
        <!--},-->
        <!--{-->
          <!--title: 'Click for Google',-->
          <!--url: 'http://google.com/',-->
          <!--start: '2018-03-28'-->
        <!--}-->
      <!--]-->
    });

  });

  </script>
  <style>


  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

  </style>
</head>
<body>
  <nav th:replace="fragments :: loggedInNavbar"></nav>
  <nav th:replace="fragments :: jumbo"></nav>
  <div th:replace="fragments :: loggedIn"></div>


  <div id='calendar'></div>

<!--<div th:replace="fragments :: script"></div>-->

</body>
</html>
