<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>

<body>

<!--THIS IT THE NAVBAR-->
<nav th:replace="fragments :: loggedInNavbar">
</nav>

<!--THIS IS THE JUMBOTRON-->
<div th:replace="fragments :: jumbo">
</div>
<div th:replace="fragments :: loggedIn"></div>


<div class="container">


    <form class="form-horizontal" role="form" method="POST">

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="instructor">Instructor</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <!--<label for="instructor">Select list:</label>-->
                    <select class="form-control" name="instructor" id="instructor">
                        <option>Instructor 1</option>
                    </select>
                </div>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="studio">Studio</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <!--<label for="studio">Select list:</label>-->
                    <select class="form-control" name="studio" id="studio">
                        <option>Studio 1</option>

                    </select>
                </div>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="date">Date</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="date" name="date" class="form-control" id="date" required autofocus>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="startDate">Start Time</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="time" name="startTime" class="form-control" id="startDate" required autofocus>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="endDate">End Time</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="time" name="endTime" class="form-control" id="endDate" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 offset-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i>Add New Event</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
</div>

<!--THESE ARE THE SCRIPTS-->
<div th:replace="fragments :: script">
</div>

</body>
</html>
