<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments :: loggedInNavbar"></nav>


<div th:replace="fragments :: jumbo"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md">
            <h2>You have successfully added a new event :</h2>
            <h3 th:text="${successInstructor}"></h3>
            <h3 th:text="${successDate}"></h3>
        </div>
    </div>
</div>


<div th:replace="fragments :: script">

</div>
</body>
</html>