<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>

<body>

<!--THIS IT THE NAVBAR-->
<nav th:replace="fragments :: loggedInNavbar">
</nav>

<!--THIS IS THE JUMBOTRON-->
<div th:replace="fragments :: jumbo">
</div>

<div th:replace="fragments :: loggedIn"></div>


<div class="container">
<!--TODO FIX THIS-->
    <div class="row">
    <div class="col-md-6 offset-md-3"><h3>Please confirm these proposed dates:</h3></div>

    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <tr>
                <td>To Confirm Classes</td>
                <td th:each="inactiveEvent : ${inactiveEvents}">
                    <th:block>
                        <input type="checkbox" name="events" th:value="${inactiveEvent.id}"/>
                        <label th:text="${inactiveEvent.title + 'On' + inactiveEvent.date}"></label>
                    </th:block>
                </td>
            </tr>
        </div>
        <div class="col-md-2"></div>

    </div>




    <div class="row">
        <div class="col-md-6">
            <h2>Past Classes:</h2><br>
            <ul th:each="event : ${pastEvents}">
                <li th:text="${event.title + ' On ' + event.date}"></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Scheduled Classes:</h2><br>
            <ul th:each="event : ${futureEvents}">
                <li th:text="${event.title + ' On ' + event.date}"></li>
            </ul>
        </div>
    </div>
</div>

    <div th:replace="fragments :: setbio"></div>

    <div th:replace="fragments :: footer"></div>


    <!--THESE ARE THE SCRIPTS-->
    <div th:replace="fragments :: script">
    </div>


</body>
</html>