<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>

<body>

<!--THIS IT THE NAVBAR-->
<nav th:replace="fragments :: loggedInNavbar">
</nav>

<!--THIS IS THE JUMBOTRON-->
<div th:replace="fragments :: jumbo">
</div>

<div th:replace="fragments :: loggedIn"></div>


<div class="container">
    <h2>Past Classes:</h2><br>
    <ul th:each="event : ${pastEvents}">
        <li th:text="${event.title + ' On ' + event.date}"></li>
    </ul>
</div>

<div class="container">
    <h2>Scheduled Classes:</h2><br>
    <ul th:each="event : ${futureEvents}">
        <li th:text="${event.title + ' On ' + event.date}"></li>
    </ul>
</div>

<div th:replace="fragments :: setbio">

<!--THESE ARE THE SCRIPTS-->
<div th:replace="fragments :: script">
</div>




</body>
</html>