<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>

<body>

<!--THIS IT THE NAVBAR-->
<nav th:replace="fragments :: loggedInNavbar">
</nav>

<!--THIS IS THE JUMBOTRON-->
<div th:replace="fragments :: jumbo">
</div>
<div th:replace="fragments :: loggedIn"></div>

<table class="table">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm8">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Bio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="instructor : ${instructors}">
        <th scope="row" th:text="${instructor.id}"></th>
        <td th:text="${instructor.name}"></td>
        <td th:text="${instructor.lastName}"></td>
        <td th:text="${instructor.biography}"></td>
    </tr>
    </tbody>
        </div>
        <div class="col-sm-2"></div>
    </div>
</table>


<div th:replace="fragments :: footer"></div>


<!--THESE ARE THE SCRIPTS-->
<div th:replace="fragments :: script">
</div>

</body>
</html>