<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
</head>

<body>

<!--THIS IT THE NAVBAR-->
<nav th:replace="fragments :: loggedInNavbar">
</nav>

<!--THIS IS THE JUMBOTRON-->
<div th:replace="fragments :: jumbo">
</div>
<div th:replace="fragments :: loggedIn"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et pellentesque leo, at tempor ex. Donec
                non nisi viverra erat posuere posuere. Praesent a lorem nec erat malesuada pretium. In hendrerit, est at
                feugiat sollicitudin, ex arcu tempus enim, et tincidunt orci mauris placerat tellus. Aliquam non
                placerat elit, mattis dapibus magna. Aliquam vulputate porta metus, sed rutrum turpis porttitor in.
                Nulla sed velit nisl. Nunc sed nunc vel neque gravida rutrum. Quisque consequat mauris id ultricies
                venenatis. Mauris lorem orci, dignissim eu pretium ac, euismod vel enim. Duis mattis arcu eget hendrerit
                ultrices. Pellentesque metus sapien, tempus vel felis tristique, elementum pulvinar nulla. Sed accumsan
                ipsum urna, eu tempor velit interdum ut. Nullam ac dignissim felis, vitae egestas urna. Nunc id libero
                tellus.</p>

            <p>In pellentesque lacus vel risus consectetur molestie. Sed eget nunc porta, convallis urna et, porta
                lorem. Proin quam ipsum, vehicula sit amet volutpat vitae, malesuada vel felis. Proin sit amet ligula
                libero. Sed porta diam neque, eu tempus turpis luctus ac. Vestibulum tellus quam, hendrerit non ante
                quis, tempus feugiat ante. Quisque efficitur, nibh ut mollis mollis, dui quam sollicitudin erat, nec
                accumsan arcu ligula nec velit. Vestibulum quis suscipit felis, ac finibus massa. Pellentesque vitae
                libero eget nibh euismod convallis. Proin iaculis interdum mauris, quis interdum libero vestibulum sit
                amet. Nullam in consectetur tortor. Integer at dolor ante. Nulla aliquet efficitur velit, at eleifend
                augue congue rhoncus. Nunc eleifend condimentum urna, eu malesuada nunc vulputate tincidunt. Nulla id
                odio lacus. Quisque eu posuere eros.</p>

            <p>Praesent nibh mauris, congue ac malesuada et, dictum et nisi. Vestibulum consequat iaculis ipsum a
                aliquet. Aliquam a enim et neque interdum dapibus. Morbi et dictum nulla. Ut et ipsum id metus
                vestibulum vehicula in non lorem. Proin ornare interdum ultrices. Phasellus sed enim in erat ullamcorper
                lacinia et at orci. Ut semper, felis non varius egestas, orci mauris fermentum sem, eu sagittis est
                ligula ac tortor.</p>

            <p>Pellentesque tempor, diam nec vulputate sodales, orci eros porta eros, ut pellentesque nunc mi tristique
                nibh. Cras eget sem et turpis dapibus lobortis at vel quam. Donec et elit vulputate, vestibulum odio sit
                amet, posuere ante. Morbi at ligula viverra, tempus diam rhoncus, tempor ante. Proin in elementum justo.
                Pellentesque vitae convallis odio. Donec sit amet dui vel mauris pharetra semper. Phasellus commodo non
                massa nec commodo. In lobortis neque odio, ac tempus elit tincidunt in. Suspendisse blandit dapibus
                velit, at tincidunt urna elementum ac. Phasellus ultrices turpis est, mattis convallis neque consectetur
                vel. Nunc ut lacinia quam. Maecenas ultrices mauris eu felis vehicula elementum.</p>

            <p>Vestibulum vitae ligula eleifend, suscipit odio id, varius mauris. Aliquam finibus pellentesque
                scelerisque. Suspendisse efficitur mi eu elit bibendum, quis accumsan dui posuere. Ut sit amet augue
                orci. Sed purus nibh, consequat pretium justo in, tincidunt fermentum nulla. Suspendisse purus eros,
                finibus maximus posuere non, varius id nisi. Praesent ut libero lectus. Cras posuere augue libero, vitae
                egestas mauris semper eu. Morbi lacinia lacus ipsum, id vehicula lectus malesuada id. Nulla rhoncus
                auctor purus in sollicitudin.</p>
        </div>

    </div>
</div>


<div th:replace="fragments :: footer"></div>


<!--THESE ARE THE SCRIPTS-->
<div th:replace="fragments :: script">
</div>

</body>
</html>