<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>


<div th:replace="fragments :: jumbo"></div>


<div class="container">
    <form th:action="@{/login}" class="form-horizontal" role="form" method="POST">
        <div class="row">
            <div class="col-md-3 offset-md-2 field-label-responsive">
                <label for="email">Email</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="Email" required autofocus>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-2 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-4">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 offset-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Login</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>


</div>


<div th:replace="fragments :: footer"></div>


<div th:replace="fragments :: script">

</div>
</body>
</html>