<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>


<div th:replace="fragments :: jumbo"></div>

<div th:object="${user}" class="container">
    <form class="form-horizontal" role="form" method="POST">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="text-center">New User</h2>
                <hr>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-2 field-label-responsive">
                <label for="name">Name</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Your Name" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <span class="text-danger align-middle" th:errors="*{name}"></span>
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-2 field-label-responsive">
                <label for="email">Email Address(Your Username)</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="valid@email.com" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <span class="text-danger align-middle" th:errors="*{email}"></span>
                            <!-- Put e-mail validation error messages here -->
                        </span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 offset-md-2 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-4">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control-feedback">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-2 field-label-responsive">
                <label for="password">Confirm Password</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" name="verify" class="form-control"
                               id="verify" placeholder="Password" required>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 offset-md-2 field-label-responsive">
                <label for="isInstructor">Are you an Instructor?</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <!--<label for="instructor">Select list:</label>-->
                        <select class="form-control" name="isInstructor" id="isInstructor">
                            <option value="0" selected>No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 offset-md-2 field-label-responsive">
                <label>Pick a Color</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="color" name="color" value="#ff6699 "/><!--class="form-control"-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <span class="text-danger align-middle" th:errors="*{color}"></span>
                            <!-- Put e-mail validation error messages here -->
                        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4 offset-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-sm-12"></div>
        </div>
    </form>
</div>


<div th:replace="fragments :: footer"></div>


<div th:replace="fragments :: script">

</div>
</body>
</html>