<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments :: jumbo"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md">
            <h2>You have successfully registered, please follow this <a th:href="@{/login}">link</a> to log in.</h2>
        </div>
    </div>
</div>


<div th:replace="fragments :: footer"></div>

<div th:replace="fragments :: script">

</div>
</body>
</html>