<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<!--THIS IT THE NAVBAR-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <!--<a class="navbar-brand" href="/">Home</a>-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!--THIS IS THE LOGGED IN NAVBAR-->

<nav th:fragment="loggedInNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Profile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/instructors">Our Instructors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar/schedule">Schedule</a>
            </li>
        </ul>
    </div>
</nav>

<!--THIS IS THE ADMIN NAVBAR-->

<nav th:fragment="adminNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Profile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/index">Regular Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instructors">Our Instructors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar/schedule">Schedule</a>
            </li>
        </ul>
    </div>
</nav>


<!--THIS IS THE JUMBOTRON-->
<div th:fragment="jumbo" class="jumbotron align-center">
    <div class="container text-center">
        <h1 th:text="${jumbo}">Studio Manager</h1>
    </div>
</div>


<!--THIS IS A LOGGED IN USER BAR-->
<div th:fragment="loggedIn">
    <div class="container text-right"><p th:inline="text">[[${#httpServletRequest.remoteUser}]] | <a
            th:href="@{/logout}">Log Out</a></p></div>
    <!--<form th:action="@{/logout}" method="post">-->
    <!--<input type="submit" value="Sign Out"/>-->
    <!--</form>-->
</div>

<!--THESE ARE THE SCRIPTS-->
<div th:fragment="script">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
</div>

</body>
</html>